@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Appointment Schedulling </h1>
    <img src="complements/organic-flat-doctors-nurses-illustration_23-2148901191.jpg" class="img-fluid" alt="Responsive image">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
